default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: db
  username: postgres
  password: password

development:
  <<: *default
  database: myapp_development

test:
  <<: *default
  database: myapp_test

production:
  <<: *default
  database: myapp_production
  username: myapp
  password: <%= ENV["MYAPP_DATABASE_PASSWORD"] %>

cable:
    adapter: postgresql
    database: myapp_production_cable
    username: postgres
    password: password
    host: db

queue:
    adapter: postgresql
    encoding: unicode
    database: myapp_production_queue
    username: postgres
    password: password
    host: db

cache:
    adapter: postgresql
    database: myapp_cache_production
    username: myapp
    password: postgres
    host: db